<p id="notice"><%= notice %></p>
<span class="inline_block">
    <i class="fas fa-hand-point-left"></i> <%= link_to 'Back', private_articles_path %>
 </span>
<div class="show-text">
    <%= @file.read %>
</div>
