<% @private_articles.each do |private_article| %>
<div class="root-box">
    <% begin %>
        <% @file = File.open("./public#{private_article.path}", "r") %>
        <%= link_to "#{private_article.name}", "show/#{private_article.id}", class: "title" %>
        <br>
        <div class="root-text">
            <%= link_to "#{@file.read}", "show/#{private_article.id}" %>
        </div>
    <% rescue %>
        <%# DO NOTHING %>
    <% end %>
</div>
<% end %>